doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        title #{jobTitle}
    body
        header
            nav 
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/admin/add-product") Add Product
        main
            h1 Products
            if products.length > 0
                ul
                    each product in products
                        li #{product.title}
            else 
                h1 No products found